body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f8f5f2;
  color: #2e2e2e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #d6bfa9;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #3e2f23;
  font-weight: 500;
}

.logo {
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  font-weight: 600;
}

button {
  background: #6b4f3a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  /* width: 40px; */
}

button:hover {
  background: #5a3f2c;
}

img {
  display: block;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 14px 18px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: translateY(-3px) scale(1.05);
  background: #1ebe5d;
}

/* =========================
   MOVING ANNOUNCEMENT BAR
========================= */

.bottom-ticker {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 42px;

  background: #111;
  color: #fff;

  overflow: hidden;

  z-index: 9999;

  display: flex;
  align-items: center;
}

/* SCROLLING CONTENT */
.ticker-track {
  display: inline-flex;
  align-items: center;

  white-space: nowrap;

  min-width: max-content;

  animation: tickerMove 28s linear infinite;
}

/* TEXT */
.ticker-track span {
  display: inline-block;

  white-space: nowrap;

  padding-right: 120px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* ANIMATION */
@keyframes tickerMove {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

  .bottom-ticker {
    height: 38px;
  }

  .ticker-track span {
    font-size: 12px;
    padding-right: 80px;
  }

  .ticker-track {
    animation-duration: 14s;
  }

  .whatsapp-float {
    bottom: 50px !important;
  }

  body {
    padding-bottom: 38px;
  }
}


/* =========================
   LAPTOP
========================= */

@media (min-width: 769px) {

  .whatsapp-float {
    bottom: 58px !important;
  }

  body {
    padding-bottom: 42px;
  }
}